// @group components
// @name section

.section
  padding: 60px 0

.section__title
  font-size: 160%
  padding-bottom: 3px
  margin-bottom: 3px
  font-weight: 900
  position: relative

  * + &
    margin-top: 50px

  +respond-to(medium)
    font-size: 22px

  a
    &:before
      content: ">"
      position: absolute
      margin-left: -14px
      opacity: .2

      +respond-to(medium)
        margin-left: -24px

    &:hover:before
      opacity: .8

  &:after
    content: ''
    width: 18px
    height: 3px
    position: absolute
    background-color: $c-indigo
    left: 0
    bottom: -6px

.section__paragraph
  margin: 14px 0
  opacity: .8
  font-size: 110%

  +respond-to(small)
    font-size: 14px

.section__screenshot
  width: 100%
